*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 200vh;
    background-color: beige;
}

.start-screen, .score-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

#start-button, #restart{
    font-size: 1.3em;
}

#start-button, #restart{
    font-size: 1.33em;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}