*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 200vh;
    background-color: beige;
}

.start-screen, .score-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

#start-button, #restart{
    font-size: 1.3em;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

#restart {
    margin-top: .7em;
}

#display-container{
    background-color: aliceblue;
    padding: 2.7em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}

.header{
    margin-bottom: 2em;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    border-bottom: 0.1em solid gold;    
}

.number-of-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-div {
    background-color: aquamarine;
    width: 6em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.5em;
}

